.exam-solver-nav-bar {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  z-index: 100;
  
  padding: 1rem 1rem 0 1rem;
  background: #F0F0F0;
  border-top: 1px solid grey;
}

.exam-solver-nav-bar .question-navigator {
  overflow-x: auto;
  overflow-y: none;
}

.exam-solver-nav-bar .question-navigator > h5 {
  margin: 0 1rem 0 0;
  text-decoration: underline;
  cursor: pointer;
}

.exam-solver-nav-bar .question-navigator > h5.selected {
  color: #2196F3;
}

.exam-solver-nav-bar .question-navigator > h5.answered {
  color: #4CAF50;
}
