.QuestionForm {
  padding: 0.75em;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.QuestionForm > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: stretch;
  margin-bottom: 20px;
}

.QuestionForm > div > input,
.QuestionForm > div > textarea,
.QuestionForm > div > select {
  width: 65%;
}

.QuestionForm > div > label {
  width: 30%;
}

.QuestionForm > .answers {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.QuestionForm > .answers > div {
  width: 50%;
}

.QuestionForm > .answers > div > div > input {
  width: 85%;
}
