.TestDefailsForm {
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 2fr;
    grid-template-areas: 
        "name-label name name name name name name"
        ". start-label . end-label . duration-label ."
        ". start . end . duration ."
        "proceed proceed proceed proceed proceed proceed proceed";
    row-gap: 1rem;
    justify-items: stretch;
    align-items: center;
}

.TestDefailsForm > #name-label {
    grid-area: name-label;
}
.TestDefailsForm > #name {
    grid-area: name;
}
.TestDefailsForm > #start-label {
    grid-area: start-label;
}
.TestDefailsForm > #start {
    grid-area: start;
}
.TestDefailsForm > #end-label {
    grid-area: end-label;
}
.TestDefailsForm > #end {
    grid-area: end;
}
.TestDefailsForm > #duration-label {
    grid-area: duration-label;
}
.TestDefailsForm > #duration {
    grid-area: duration;
}
.TestDefailsForm > #proceed {
    grid-area: proceed;
}