.AccountCreationForm > .normal-input {
    margin: 0 0 1rem 0;
}

.AccountCreationForm > .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

.AccountCreationForm > .checkbox > input {
    width: 0;
    margin: 0 0.4rem 0 0;
}