.SideBar {
  width: 100%;
  height: 100%;
  background-color: #1E88E5;

  display: flex;
  flex-direction: column;
}

.SideBar > div {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.SideBar > div:hover {
  cursor: pointer;
  background-color: #1976D2;
}
